.inputContainer {
  width: 100%;
  margin-bottom: 1rem;
}

.label {
  display: block;
  font-weight: bold;
  margin-bottom: .5rem;
}

.input {
  width: 100%;
  padding: .5rem;
  border: 1px solid #ccc;
  border-radius: .2rem;
  font-size: 1rem;
  border-bottom: 3px solid #537397;
  border-right: 3px solid #537397;
}